#deviceWarning-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: white;
	font-size: 24px;
	text-align: center;
	justify-content: center;
	gap: 20px;

    h1 {
        font-family: 'NunitoBold';
    }
    
    p {
        font-family: 'NunitoRegular';
    }

    img {
        display: block;
        width: 200px;
        margin: 50px auto;
    }
}

#preload_container {
    position: relative;
	width: 100%;
	height: 100%;
    color: white;
    font-family: 'NunitoBold';

    #preload_video{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        transform: translate(-50%, -50%);
    }

    #preload_inner {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        gap: 5%;

        #preload_warning {
            font-size: 54px;
            color: rgb(162, 4, 72);
        }

        #preload_subwarning {
            font-size: 36px;
            color: rgb(236, 131, 19);
            opacity: 0;
        }

        #preload_warning_message {
            font-family: 'NunitoRegular';
            opacity: 0;
        }

        #preload_action {
            margin-top: 5%;
        }
    }
}

#timeSkipContainer {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
    font-family: 'CharmBold';
	font-size: 78px;
	translate: 0 -50%;
}

#videoContainer {
    position: relative;
    width: 100%;
	height: 100%;
    overflow: hidden;

    #outro_video {
        width: 100%;
	    height: 100%;
    }

    #videoStopBtn {
        position: absolute;
        bottom: 50px;
        right: 50px;
        width: 100px;
        height: 100px;
        opacity: 20%;
        transition: opacity 300ms ease-in-out;
    
        &:hover {
            opacity: 60%;
            cursor: url('../img/assets/cursor_pointer.png'), pointer;
        }
    
        img {
            width: 100%;
            height: 100%;
        }
    }
}

#thankYou_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 100%;
	height: 100%;
    gap: 10%;
    
    p {
        font-family: 'CharmRegular';
        font-size: 30px;
        color: white;
        text-align: center;
        
        &.gameTitle {
            font-family: 'FogLihten';
            font-size: 66px;
        }
    }
}