#mainMenu_container {
	height: 100%;
	background-image: url('../img/backgrounds/BG_main_1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
    font-family: 'Foglihten';

    &.completed {
        background-image: url('../img/backgrounds/BG_main_2.png');
    }

    #mainTitle {
        position: fixed;
        top: 30px;
        left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        opacity: 0;

        img {
            width: 200px;
            filter: drop-shadow(2px 2px 3px rgb(79, 0, 103));
        }

        h1 {
            font-family: 'FogLihten';
            font-size: 48px;
            text-shadow: 0px 0px 1px rgb(79, 0, 103), 2px 2px 3px rgb(79, 0, 103);
        }
    }

    #versionNumber {
        position: fixed;
        bottom: 10px;
        right: 30px;
        opacity: 33%;
        font-family: 'NunitoRegular';
        color: white;
        transition: opacity 300ms ease-in-out;
    }

    #mainEndingContainer {
        position: fixed;
        top: 50%;
        left: 30px;
        translate: 0 -50%;
        z-index: -1;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            
            .ending-heart {
                width: 40px;
                filter: drop-shadow(3px 3px 3px rgb(141, 12, 180));
            }

            span {
                font-family: 'CharmRegular';
                font-size: 24px;
                text-shadow: 3px 3px 3px rgb(141, 12, 180);
            }
        }
    }

    #mainColumn_1 {
        position: fixed;
        top: 150px;
        left: 50%;
        translate: -50%;
        max-height: 550px;
        height: 100%;
        width: 100%;

        #loadBox_inner {
            position: relative;
            width: 90%;
            height: 100%;
            padding: 30px 75px;
            background-image: linear-gradient(to left, rgba(125, 0, 147, 0), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0));
            margin: 0 auto;
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            gap: 10px;

            &.noGrid {
                top: 25%;
                display: block;
                height: unset;
            }

            &::before {
                position: absolute;
                top: -1px;
                content: '';
                display: block;
                width: 90%;
                height: 1px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                transition: opacity 300ms ease-in-out;
            }

            &::after {
                position: absolute;
                bottom: -1px;
                content: '';
                display: block;
                width: 90%;
                height: 1px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                transition: opacity 300ms ease-in-out;
            }

            .loadSlot {
                height: 200px;

                .loadBottom {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .loadSlot_date {
                        text-align: center;
                        font-size: 20px;
                    }

                    .deleteSlot_btn {
                        border: none;
                        outline: none;
                        background: none;
                        width: 20px;
                        height: 20px;

                        img {
                            height: 100%;
                            scale: 1;
                            transition: scale 300ms ease-in-out;
                        }

                        &:hover {
                            cursor: url('../img/assets/cursor_pointer.png'), pointer;

                            img {
                                scale: 1.2;
                            }
                        }
                    }
                }
                
                &:hover {
                    cursor: url('../img/assets/cursor_pointer.png'), pointer;

                    .loadSlot_inner {
                        filter: brightness(100%);
                    }
                }

                .loadSlot_inner {
                    border: 1px solid white;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 16 / 9;
                    filter: brightness(70%);
                    margin-bottom: 10px;
                    transition: filter 300ms ease-in-out;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            #loadDelete-question {
                width: 100%;
                color: white;
                text-align: center;
                font-family: 'CharmRegular';
                font-size: 24px;
                text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;

                h2 {
                    text-align: center;
                }

                & > div {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 100px;
    
                    button {
                        outline: none;
                        border: none;
                        background: none;
                        background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0));
                        padding: 5px 30px;
                        color: white;
                        font-size: 24px;
                        font-family: 'CharmRegular';
                        text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;
                        transition: background-image 300ms ease-in-out;
    
                        &:hover {
                            background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0));
                            cursor: url('../img/assets/cursor_pointer.png'), pointer;
                        }
                    }
                }
            }
        }

        #gallery_inner {
            width: 90%;
            height: 100%;
            padding: 30px 75px;
            background-image: linear-gradient(to left, rgba(125, 0, 147, 0), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0));
            margin: 0 auto;

            #gallery_container {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 2fr 2fr 2fr;
                gap: 10px;
                padding: 0 15px;
                overflow-y: scroll;

                .gallery_tiles {
                    position: relative;
                    width: 100%;
                    height: 200px;
                    border: 2px solid white;
                    overflow: hidden;
                    opacity: 0;
                    aspect-ratio: 16 / 9;

                    &.show {
                        opacity: 100%;
                        background-color: rgba(0, 0, 0, 0.445);
                        box-shadow: 0 0 10px rgba(255, 255, 255, 0);
                        transition: box-shadow 300ms ease-in-out;

                        &:hover {
                            box-shadow: 0 0 10px white;
                            cursor: url('../img/assets/cursor_pointer.png'), pointer;
                        }
                    }
                    
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            &::before {
                position: absolute;
                top: -1px;
                content: '';
                display: block;
                width: 90%;
                height: 1px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                transition: opacity 300ms ease-in-out;
            }

            &::after {
                position: absolute;
                bottom: -1px;
                content: '';
                display: block;
                width: 90%;
                height: 1px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                transition: opacity 300ms ease-in-out;
            }
        }

        #settings_inner {
            position: relative;
            top: 0%;
            left: 50%;
            translate: -50%;
            width: 90%;
            padding: 30px 75px;
            background-image: linear-gradient(to left, rgba(125, 0, 147, 0), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0));
            color: white;
            font-size: 24px;
            font-family: 'CharmRegular';
            text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;

            &::before {
                position: absolute;
                top: -1px;
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                transition: opacity 300ms ease-in-out;
            }

            &::after {
                position: absolute;
                bottom: -1px;
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                transition: opacity 300ms ease-in-out;
            }

            #settings_ranges {
                position: relative;
                left: 50%;
                translate: -50%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px 50px;
                width: 50%;

                p {
                    text-align: right;

                    span {
                        font-family: 'CharmBold';
                    }
                }

                input[type=range] {
                    width: 70%;
                    height: 26px;
                    -webkit-appearance: none;
                    margin: 5px 0;
                    background: none;
                    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0));
                    transition: box-shadow 300ms ease-in-out;

                    &:hover {
                        filter: drop-shadow(0 0 5px rgb(255, 255, 255));
                        cursor: url('../img/assets/cursor_pointer.png'), pointer;
                    }

                    &:focus {
                        outline: none;

                        &::-webkit-slider-runnable-track {
                            background: #AC51B5;
                        }

                        &::-ms-fill-lower {
                            background: #AC51B5;
                        }

                        &::-ms-fill-upper {
                            background: #AC51B5;
                        }
                    }

                    &::-webkit-slider-runnable-track {
                        width: 100%;
                        height: 13px;
                        animate: 0.2s;
                        box-shadow: 0px 0px 0px #000000;
                        background: #AC51B5;
                        border-radius: 25px;
                        border: 2px solid rgb(243, 211, 255);
                    }

                    &::-webkit-slider-thumb {
                        box-shadow: 0px 0px 0px #000000;
                        border: 2px solid rgb(243, 211, 255);
                        height: 20px;
                        width: 39px;
                        border-radius: 7px;
                        background: rgb(125, 0, 147);
                        -webkit-appearance: none;
                        margin-top: -3.5px;
                    }

                    &::-moz-range-track {
                        width: 100%;
                        height: 13px;
                        animate: 0.2s;
                        box-shadow: 0px 0px 0px #000000;
                        background: #AC51B5;
                        border-radius: 25px;
                        border: 2px solid rgb(243, 211, 255);
                    }

                    &::-moz-range-thumb {
                        box-shadow: 0px 0px 0px #000000;
                        border: 2px solid rgb(243, 211, 255);
                        height: 20px;
                        width: 39px;
                        border-radius: 7px;
                        background: rgb(125, 0, 147);
                    }

                    &::-ms-track {
                        width: 100%;
                        height: 13px;
                        animate: 0.2s;
                        background: transparent;
                        border-color: transparent;
                        color: transparent;
                    }

                    &::-ms-fill-lower {
                        background: #AC51B5;
                        border: 2px solid rgb(243, 211, 255);
                        border-radius: 50px;
                        box-shadow: 0px 0px 0px #000000;
                    }

                    &::-ms-fill-upper {
                        background: #AC51B5;
                        border: 2px solid rgb(243, 211, 255);
                        border-radius: 50px;
                        box-shadow: 0px 0px 0px #000000;
                    }

                    &::-ms-thumb {
                        margin-top: 1px;
                        box-shadow: 0px 0px 0px #000000;
                        border: 2px solid rgb(243, 211, 255);
                        height: 20px;
                        width: 39px;
                        border-radius: 7px;
                        background: rgb(125, 0, 147);
                    }
                }
            }

            #settings_checkboxes {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10%;
                margin: 20px 0;

                label {
                    position: relative;
                    padding-right: 40px;
                    cursor: url('../img/assets/cursor_default.png'), auto;

                    &::before {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        translate: 0 -50%;
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        transform: scale(1);
                        border-radius: 5px;
                        border: 2px solid white;
                        background: rgba(0, 0, 0, 0);
                        pointer-events: none;
                    }

                    &::after {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        translate: 0 -50%;
                        display: block;
                        content: "";
                        width: 10px;
                        height: 10px;
                        scale: 0;
                        border-radius: 2px;
                        background: white;
                        pointer-events: none;
                        transition: scale 200ms ease-in-out;
                    }

                    &:has(input[type=checkbox]:checked) {

                        &::after {
                            display: block;
                            scale: 1;
                        }
                    }

                    input[type=checkbox] {
                        width: 20px;
                        height: 20px;
                        translate: 100%;
                        margin-right: -20px;
                        opacity: 0;
                        cursor: url('../img/assets/cursor_pointer.png'), pointer;
                    }
                }
            }

            #settingReset_btn {
                display: block;
                outline: none;
                border: none;
                background: none;
                background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0));
                padding: 5px 30px;
                color: white;
                font-size: 24px;
                font-family: 'CharmRegular';
                text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;
                transition: background-image 300ms ease-in-out;
                margin: 0 auto;

                &:hover {
                    background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0));
                    cursor: url('../img/assets/cursor_pointer.png'), pointer;
                }
            }
        }

        #about_inner {
            position: relative;
            top: 0%;
            left: 50%;
            translate: -50%;
            width: 90%;
            padding: 30px 75px;
            background-image: linear-gradient(to left, rgba(125, 0, 147, 0), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0));
            color: white;
            font-size: 18px;
            text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;
            text-align: center;

            h2 {
                font-size: 36px;
                font-family: 'CharmRegular';
                margin-bottom: 16px;
            }

            & > p {
                font-family: 'NunitoRegular';

                b {
                    font-family: 'NunitoBold';
                }
            }

            #about_description {
                margin-top: 16px;
                font-family: 'NunitoRegular';

                p {
                    margin-bottom: 16px;
                }

                &::before {
                    position: absolute;
                    top: -1px;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                    transition: opacity 300ms ease-in-out;
                }
    
                &::after {
                    position: absolute;
                    bottom: -1px;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                    transition: opacity 300ms ease-in-out;
                }
            }
        }

        #quit_inner {
            position: relative;
            top: 25%;
            left: 50%;
            translate: -50%;
            width: 90%;
            padding: 30px 75px;
            background-image: linear-gradient(to left, rgba(125, 0, 147, 0), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0));
            color: white;
            text-align: center;
            font-family: 'CharmRegular';
            font-size: 24px;
            text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;

            h2 {
                margin-bottom: 30px;
            }

            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 100px;

                button {
                    outline: none;
                    border: none;
                    background: none;
                    background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0));
                    padding: 5px 30px;
                    color: white;
                    font-size: 24px;
                    font-family: 'CharmRegular';
                    text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;
                    transition: background-image 300ms ease-in-out;

                    &:hover {
                        background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0));
                        cursor: url('../img/assets/cursor_pointer.png'), pointer;
                    }
                }
            }

            &::before {
                position: absolute;
                top: -1px;
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                transition: opacity 300ms ease-in-out;
            }

            &::after {
                position: absolute;
                bottom: -1px;
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                transition: opacity 300ms ease-in-out;
            }
        }
    }

    .mainMenu {
        position: fixed;
        left: 0;
        bottom: 60px;
        right: 0;
        margin: auto;
        width: 90%;
        max-width: 1300px;
        height: 60px;
        opacity: 0;
    
        input {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 100px;
            z-index: 20;
            border-radius: 80px;
            opacity: 0;
            translate: -50% -50%;
            cursor: url('../img/assets/cursor_pointer.png'), pointer;
    
            &:checked {
    
                & ~ .hamburger {
                    
                    #menu_padlock {
            
                        #padlock-head {
                            top: 10px;
                            left: calc(50% - 5px);
                            rotate: -35deg;
                        }
                    }
                }
    
                & ~ .action_items_bar {
                    transform: scaleX(1);
    
                    .action_items {
    
                        .first_item {
                            margin-left: 50px;
                            opacity: 1;
                            transition-delay: 0.5s;
                        }
    
                        .second_item {
                            opacity: 1;
                            transition-delay: 0.45s;
                        }
    
                        .third_item {
                            margin-right: 50px;
                            opacity: 1;
                            transition-delay: 0.4s;
                        }
    
                        .fourth_item {
                            margin-left: 50px;
                            opacity: 1;
                            transition-delay: 0.4s;
                        }
    
                        .fifth_item {
                            opacity: 1;
                            transition-delay: 0.45s;
                        }
    
                        .sixth_item {
                            margin-right: 50px;
                            opacity: 1;
                            transition-delay: 0.5s;
                        }
                    }
                }
            }
        }
    
        .hamburger {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 100px;
            height: 100px;
            background-color:  rgb(125, 0, 147);
            border-radius: 100%;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
            z-index: 10;
            cursor: url('../img/assets/cursor_pointer.png'), pointer;
    
            #menu_padlock {
                position: relative;
                width: 100px;
                height: 100px;
    
                #padlock-head {
                    position: absolute;
                    width: 40%;
                    top: 17px;
                    left: 50%;
                    translate: -50% 0;
                    rotate: 0deg;
                    transition: top 300ms ease-in-out, left 300ms ease-in-out, rotate 300ms ease-in-out;
                }
    
                #padlock-body {
                    position: absolute;
                    width: 50%;
                    bottom: 17px;
                    left: 50%;
                    translate: -50% 0;
                    rotate: 0deg;
                }
            }
        }
    
        .action_items_bar {
            position: absolute;
            width: 100%;
            height: 60px;
            background-image: linear-gradient(to left, rgb(181, 12, 243), rgb(125, 0, 147), rgb(125, 0, 147), rgb(181, 12, 243));
            border-radius: 60px;
            box-shadow: 0px 5px 20px rgb(204, 65, 255);
            z-index: 5;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
    
            .action_items {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 100%;
    
                .mainMenu_options {
                    width: 100px;
                    text-align: center;
                    margin: auto 0;
                    font-family: 'CharmRegular';
                    font-size: 24px;
                    opacity: 0;
                    transition: all 0.2s ease-in-out;
                    text-shadow: 0 0 5px rgba(255, 127, 253, 0);
                    transition: text-shadow 300ms ease-in-out;
                    cursor: url('../img/assets/cursor_pointer.png'), pointer;

                    &.option-chosen {
                        text-shadow: 0 0 5px rgb(255, 127, 253), 0 0 10px rgb(255, 127, 253), 0 0 20px rgb(255, 127, 253), 0 0 25px rgb(255, 127, 253);
                    }
                }
    
                #marker {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100px;
                    transition: 500ms;
                    z-index: -1;
                
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        translate: -50% -50%;
                        width: 100px;
                        height: 60px;
                        border-radius: 8px;
                        background: linear-gradient(to left, rgba(204, 65, 255, 0), rgb(204, 65, 255), rgb(204, 65, 255), rgba(204, 65, 255, 0));
                        box-shadow: 0 0 15px rgba(204, 65, 255, 0), 0 0 30px rgba(204, 65, 255, 0), 0 0 40px rgba(204, 65, 255, 0); 
                        transition: border-radius 500ms ease-in-out, height 300ms ease-in-out, translate 500ms ease-in-out, box-shadow 300ms ease-in-out;
                    }
                
                    &.inCenter {
                
                        &::before {
                            border-radius: 80px;
                            height: 100px;
                            translate: -100% -50%;
                            box-shadow: 0 0 15px rgb(204, 65, 255), 0 0 30px rgb(204, 65, 255), 0 0 40px rgb(204, 65, 255);
                        }
                    }
                }
            }
        }
    }
}

#fullScreenGalleryImg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	background-color: black;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

    &:hover {
        cursor: url('../img/assets/cursor_pointer.png'), pointer;
    }
}