#storyContainer {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

    #backgroundContainer {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #secondary_backgroundContainer {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #characterContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calc(100% - 200px);

        .chars {
            position: absolute;
            opacity: 100%;
            width: 300px;
            height: 100%;

            img {
                height: 100%;

                &::before {
                    display: none;
                }
            }
        }

        #char-left {
            left: 0;
            bottom: 0;
        }

        #char-middle {
            left: 50%;
            bottom: 0;
            translate: -50% 0;
        }

        #char-right {
            bottom: 0;
            right: 0;
        }
    }

    #textContainer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 265px;
        background-image: url('../img/assets/text-box.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;

        #textContainer-inner {
            position: relative;
            width: 100%;
            top: -15px;

            #char-name {
                position: absolute;
                top: 0;
                left: -70px;
                width: 539px;
                height: 60px;
                translate: 0 -50%;
                background-image: url('../img/assets/name-container.png');
                background-size: 100% 100%;
                padding: 4px 0 10px;
                text-align: center;
                font-size: 38px;
                font-family: 'NunitoBold';
                color: white;
                text-shadow: 2px 2px 0 #34002b, -2px 2px 0 #34002b, -2px -2px 0 #34002b, 2px -2px 0 #34002b;
            }
            
            #char-text {
                position: absolute;
                top: 55px;
                left: 50px;
                width: calc(100% - 100px);
                font-size: 25px;
                font-family: 'NunitoBold';
                color: white;
                text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;

                &.italic {
                    font-style: italic;
                }
            }
        }
    }

    #specialSceneCover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #choiceContainer {
        position: absolute;
        top: 30%;
        left: 50%;
        translate: -50% 0;
        min-width: 500px;
        max-width: 70%;
        padding: 15px 75px;
        background-image: linear-gradient(to left, rgba(180, 12, 243, 0), rgba(180, 12, 243, 0.8), rgba(180, 12, 243, 0.8), rgba(180, 12, 243, 0.8), rgba(180, 12, 243, 0.8), rgba(180, 12, 243, 0.8), rgba(180, 12, 243, 0));
        color: white;
        text-align: center;
        opacity: 0;

        #choiceBox {
            position: relative;
            padding: 10px;
            font-family: 'CharmRegular';

            h2 {
                margin-top: 10px;
                font-size: 28px;
            }

            #choiceBox-inner {
                display: flex;
                flex-direction: column;
                padding: 15px;
                gap: 20px;

                .choiceBtn {
                    position: relative;
                    outline: none;
                    border: none;
                    width: 100%;
                    margin: 0 auto;
                    padding: 10px;
                    background: none;
                    background-image: linear-gradient(to left, rgba(48, 48, 48, 0), rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8), rgba(67, 67, 67, 0.8), rgba(67, 67, 67, 0));
                    color: white;
                    font-family: 'CharmBold';
                    font-size: 20px;
                    transition: background-image 300ms ease-in-out;

                    &::before {
                        position: absolute;
                        top: -1px;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                        opacity: 0;
                        transition: opacity 300ms ease-in-out;
                    }

                    &::after {
                        position: absolute;
                        bottom: -1px;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                        opacity: 0;
                        transition: opacity 300ms ease-in-out;
                    }

                    &:hover {
                        background-image: linear-gradient(to left, rgba(48, 48, 48, 0), rgba(48, 48, 48, 1), rgba(48, 48, 48, 1), rgb(48, 48, 48), rgba(48, 48, 48, 1), rgba(67, 67, 67, 1), rgba(67, 67, 67, 0));
                        cursor: url('../img/assets/cursor_pointer.png'), pointer;

                        &::before {
                            opacity: 70%;
                        }
    
                        &::after {
                            opacity: 70%;
                        }
                    }
                }
            }

            &::before {
                position: absolute;
                top: 0;
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
            }

            &::after {
                position: absolute;
                bottom: 0;
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
            }
        }
    }
    
    #cantGoBackContainer {
        @extend #choiceContainer;

        #cantGoBackBox {
            @extend #choiceBox;

            #cantGoBackBox-inner {
                @extend #choiceBox-inner;
            }
        }
    }
}

#storyButtonContainer {
	position: relative;
    bottom: 0;
	display: flex !important;
	width: 100%;
	height: 40px;
    margin-top: -50px;
	justify-content: space-evenly;
    cursor: url('../img/assets/cursor_default.png'), auto;

    .storyButtons {
        outline: none;
        background: none;
        border: none;
        font-family: 'CharmBold';
        font-size: 22px;
        color: white;
        opacity: 50%;
        text-shadow: 0px 0px 0px rgba(255, 120, 226, 0);
        transition: opacity 300ms ease-in, text-shadow 300ms ease-in-out;

        &:disabled {
            opacity: 20%;
            pointer-events: none;
        }

        &:hover {
            opacity: 100%;
            text-shadow: 0px 0px 6px rgb(255, 120, 226);
            cursor: url('../img/assets/cursor_pointer.png'), pointer;
        }
    }
}