@import "./fonts";

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    cursor: url("../img/assets/cursor_default.png"), auto;
}
#root {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
#colorCover {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

@import "./black-pages";

@import "./story-page";

#saveContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    min-width: 700px;
    max-width: 80%;
    width: 100%;
    text-align: center;
    opacity: 0;
    z-index: 3;
    padding: 30px 75px;
    background-image: linear-gradient(to left, rgba(125, 0, 147, 0), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0.8), rgba(125, 0, 147, 0));
    color: white;
    font-size: 24px;
    font-family: 'CharmRegular';
    text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;
    pointer-events: none;

    &.noGrid {
        display: block !important;
        height: unset;
    }

    &.fadeIn {
        pointer-events: all;
    }
    
    &::before {
        position: absolute;
        top: -1px;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        transition: opacity 300ms ease-in-out;
    }

    &::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        transition: opacity 300ms ease-in-out;
    }

    #saveBox {
        position: relative;

        #saveXBtn {
            position: absolute;
            top: 10px;
            right: 0;
            display: block;
            width: 30px;

            img {
                width: 100%;
            }

            &:hover {
                cursor: url('../img/assets/cursor_pointer.png'), pointer;
            }
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;

            & + div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 100px;
                
                button {
                    outline: none;
                    border: none;
                    background: none;
                    background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0));
                    padding: 5px 30px;
                    color: white;
                    font-size: 24px;
                    font-family: 'CharmRegular';
                    text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;
                    transition: background-image 300ms ease-in-out;

                    &:hover {
                        background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0));
                        cursor: url('../img/assets/cursor_pointer.png'), pointer;
                    }
                }
            }
        }

        .overwriteQuestionBtn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 100px;

            button {
                outline: none;
                border: none;
                background: none;
                background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0), rgba(245, 139, 255, 0));
                padding: 5px 30px;
                color: white;
                font-size: 24px;
                font-family: 'CharmRegular';
                text-shadow: 1px 1px 0 #34002b, -1px 1px 0 #34002b, -1px -1px 0 #34002b, 1px -1px 0 #34002b;
                transition: background-image 300ms ease-in-out;

                &:hover {
                    background-image: linear-gradient(to left, rgba(245, 139, 255, 0), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0.8), rgba(245, 139, 255, 0));
                    cursor: url('../img/assets/cursor_pointer.png'), pointer;
                }
            }
        }

        #saveBox-inner {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            gap: 40px 20px;

            .saveSlot {
                

                .saveSlot_inner {
                    border: 1px solid white;
                    position: relative;
                    width: 100%;
                    height: 150px;
                    aspect-ratio: 16 / 9;
                    filter: brightness(70%);
                    margin-bottom: 10px;
                    transition: filter 300ms ease-in-out;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .saveSlot_date {
                    text-align: center;
                    font-size: 20px;
                }

                &:hover {
                    cursor: url('../img/assets/cursor_pointer.png'), pointer;

                    .saveSlot_inner {
                        filter: brightness(100%);
                    }
                }
            }
        }
    }
}
#save_BG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}

@import "./ingame-menu";

@import "./main-menu";

@import "./mobile-page";

@import "./common-classes";

@import "./animations";

@import "./responsive";